<div class="col-md-4 offset-md-4">
  <div class="card">
    <div class="card-body">
      <form>
        <div class="form-group">
          <input type="text" name="Nombre" [(ngModel)]="postre.Nombre" placeholder="Nombre" class="form-control" autofocus>
        </div>
        <button class="btn btn-success btn-block" (click)="savePostre()">
            Guardar
        </button>
      </form>
    </div>
  </div>
</div>

<div class="col-md-4">
    <div class="card card-body text-center">
        
    </div>
</div>
