<div class="col-md-4" *ngFor="let postre of postres" style="padding-bottom: 1rem;">
  <div class="card text-center">
    <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
      {{postre.Nombre}}
      <button class="btn btn-danger">
        <i class="far fa-trash-alt"></i>
      </button>
    </div>
    <div class="card-body">
      <p>Ingredientes</p>
      <a href="" class="btn btn-info btn-block">
        EDITAR POSTRE
      </a>
    </div>
  </div>
</div>

